.container{
    position: relative;
    height: 70px;
    background: #366666;
}
.displayValue{
    text-align: left;
    color: #ffffff;
    width: 90%;
    margin: auto;
    text-align: end;
    font-weight: 600;
    position: absolute;
    top: 40%;
}