.container {
  position: relative;
  height: 70px;
  outline: 1px solid black;
  background: #3f5666;
}

.displayValue {
  text-align: right;
  color: #ffffff;
  width: 90%;
  margin: auto;
  font-weight: 600;
  position: absolute;
  top: 20%;
  max-height: 33px;
}

p {
  float: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
