grid-widthion-row,
ion-col {
  padding: 0;
}

.grid-width {
  max-width: 500px;
  position: absolute;
  top: 20%;
  left: 40%;
}

.title {
  --background: #3f5665;
  color: #fff;
  text-align: center;
}
