<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <app-display currentValue="{{displayValue}}"></app-display>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <app-number-button value="1"></app-number-button>
      </ion-col>
      <ion-col size="4">
        <app-number-button value="2"></app-number-button>
      </ion-col>
      <ion-col size="4">
        <app-number-button value="3"></app-number-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <app-number-button value="4"></app-number-button>
      </ion-col>
      <ion-col size="4">
        <app-number-button value="5"></app-number-button>
      </ion-col>
      <ion-col size="4">
        <app-number-button value="6"></app-number-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <app-number-button value="7"></app-number-button>
      </ion-col>
      <ion-col size="4">
        <app-number-button value="8"></app-number-button>
      </ion-col>
      <ion-col size="4">
        <app-number-button value="9"></app-number-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>