<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-width">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <app-display currentValue="{{displayValue}}"></app-display>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <app-number-button value="7" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="8" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="9" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="*" [color]="'#f1b76c'" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <app-number-button value="4" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="5" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="6" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="-" [color]="'#f1b76c'" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <app-number-button value="1" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="2" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="3" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="+" [color]="'#f1b76c'" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <app-number-button value="0" (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="." (numberClick)="updateDisplayValue($event)"></app-number-button>
      </ion-col>
      <ion-col size="3">
        <app-result-btn [color]="'#f1b76c'" (click)="displayResult()"></app-result-btn>
      </ion-col>
      <ion-col size="3">
        <app-number-button value="/" [color]="'#f1b76c'" (numberClick)="updateDisplayValue($event)"></app-number-button>
    <ion-row>
      <ion-col size="12">
        <app-clean-btn [color]="clearColor" (click)="cleanDisplay()"></app-clean-btn>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>