grid-widthion-row,
ion-col {
  padding: 0;
}

.grid-width {
  max-width: 320px;
  position: relative;
  top: 15%;
  margin: auto;
}

.background__image {
  background-image: url("/assets/images/cofee.jpeg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.title {
  --background: #3f5665;
  color: #fff;
  text-align: center;
}
