<ion-header>
  <ion-toolbar class="title">
    <ion-title>
      Math Operations Jess & Juanse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="middle">
      <div>
        <app-math-operations-list [items]="items?.data"></app-math-operations-list>
      </div>
      <div class="to-bottom">
        <app-paginator [arrayLength]="items?.totalPages" (activePage)="changePage($event)"></app-paginator>
      </div>
    </div>
  </div>
</ion-content>